<b:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:b="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
             http://www.springframework.org/schema/beans/spring-beans.xsd
             http://www.springframework.org/schema/security
             http://www.springframework.org/schema/security/spring-security.xsd">
  <http>
    <csrf disabled="true" />
    <intercept-url pattern="/" access="permitAll"/>
    <intercept-url pattern="/assets/*" access="permitAll"/>
    <intercept-url pattern="/clientAccountSettings/*" access="permitAll"/>
    <intercept-url pattern="/loginForm**" access="permitAll"/>
    <intercept-url pattern="/order**" access="permitAll"/>
    <intercept-url pattern="/adminAccount**" access="hasRole('ROLE_ADMIN')" />
    <intercept-url pattern="/adminAccount/*" access="hasRole('ROLE_ADMIN')" />
    <intercept-url pattern="/clientAccount**" access="hasRole('ROLE_USER')" />
    <intercept-url pattern="/clientAccount/*" access="hasRole('ROLE_USER')" />
    <!--<intercept-url pattern="/**" access="hasRole('USER')" />-->
    <form-login login-page='/loginForm'/>
    <http-basic entry-point-ref="http403ForbiddenEntryPoint" />
  </http>

  <authentication-manager alias="authenticationManager">
    <authentication-provider user-service-ref="userDetailsServiceStub">
      <!--suppress SpringModelInspection -->
      <password-encoder hash="bcrypt" />
    </authentication-provider>
  </authentication-manager>

</b:beans>